@charset "UTF-8";

.PlaylistPanel {
  background: #151515;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: top ease .4s;
}
.PlaylistPanel.hide {
  top: 100%;
}

.PlaylistPanel > header {
  background: #fff1;
  color: #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
  padding: 6px 6px;
  user-select: none;
}
.PlaylistPanel > header .button {
  background: none;
  border-radius: 50%;
  padding: 8px;
}
.PlaylistPanel > header > .left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
.PlaylistPanel > header > .left .btnClosePanel {
  transition: transform ease .4s;
}
.PlaylistPanel.listOpened > header > .left .btnClosePanel {
  transform: rotate(90deg);
}
.PlaylistPanel.hide > header > .left .btnClosePanel {
  transform: rotate(180deg);
}
.PlaylistPanel > header > .right {
  display: flex;
  flex-direction: row;
}
.PlaylistPanel > header > .right .btnEdit,
.PlaylistPanel > header > .right .btnAdd,
.PlaylistPanel > header > .right .btnApply,
.PlaylistPanel.listOpened.modeEdit > header > .right .btnEdit,
.PlaylistPanel.listOpened.modeAdd > header > .right .btnEdit {
  display: none;
}
.PlaylistPanel.listOpened > header > .right .btnEdit,
.PlaylistPanel.listOpened.modeAdd > header > .right .btnApply,
.PlaylistPanel.listOpened.modeEdit > header > .right .btnAdd,
.PlaylistPanel.listOpened.modeEdit > header > .right .btnApply {
  display: flex;
}

.PlaylistPanel > section.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  position: relative;
  left: 0;
  width: 200%;
  height: 0;
  flex-grow: 1;
  transition: left ease .4s;
}
.PlaylistPanel.listOpened > section.content {
  left: -100%;
}
.PlaylistPanel > section.content > aside {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.PlaylistPanel ul.playlistList {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.PlaylistPanel ul.playlistList > li {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  padding: 12px 16px;
  position: relative;
  cursor: pointer;
}
.PlaylistPanel ul.playlistList > li::after {
  content: '';
  background: transparent;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background ease .15s;
  pointer-events: none;
}
.PlaylistPanel ul.playlistList > li:hover::after {
  background: #fff1;
}
.PlaylistPanel ul.playlistList > li > img {
  width: 16px;
}
.PlaylistPanel ul.playlistList > li .infoArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  width: 0;
  flex-grow: 1;
}
.PlaylistPanel ul.playlistList > li .btnEditName {
  background: transparent;
  border-radius: 50%;
  display: inline-flex;
  padding: 4px;
  transition: opacity ease .15s;
  opacity: 0;
  pointer-events: none;
}
.PlaylistPanel ul.playlistList > li.modifiable:hover .btnEditName {
  opacity: 1;
  pointer-events: initial;
}
.PlaylistPanel ul.playlistList > li .btnEditName > img {
  opacity: .8;
  width: 14px;
}
.PlaylistPanel ul.playlistList > li .btnPlayPlaylist {
  background: transparent;
  border-radius: 50%;
  margin: -4px 0;
  padding: 6px;
  transition: opacity ease .15s;
  opacity: 0;
  pointer-events: none;
}
.PlaylistPanel ul.playlistList > li .btnPlayPlaylist > img {
  opacity: .8;
  width: 14px;
}
.PlaylistPanel ul.playlistList > li:hover .btnPlayPlaylist {
  opacity: 1;
  pointer-events: initial;
}
.PlaylistPanel ul.playlistList > li .btnMore {
  background: transparent;
  border-radius: 50%;
  margin: -4px;
  padding: 6px;
  transition: opacity ease .15s;
  opacity: 0;
  pointer-events: none;
}
.PlaylistPanel ul.playlistList > li.modifiable:hover .btnMore {
  opacity: 1;
  pointer-events: initial;
}
.PlaylistPanel ul.playlistList > li .btnMore > img {
  width: 14px;
}
.PlaylistPanel ul.playlistList > li .btnMore.moreButton:active::after {
	background: #fff1;
}
.PlaylistPanel ul.playlistList > li .btnMore .menuItem.removePlaylist {
	color: #f55;
}
.PlaylistPanel ul.playlistList > li .btnMore .menuItem.removePlaylist img {
	/*fill: red;*/
}

.PlaylistPanel > section.content > aside > .dropArea {
  background: #0003;
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  height: 128px;
  opacity: .5;
  transition: opacity ease .15s;
  user-select: none;
}
.PlaylistPanel > section.content > aside > .dropArea.onDrag {
  opacity: 1;
}
.PlaylistPanel > section.content > aside > .dropArea .dropAreaWrapper {
  border: white dashed 4px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f0f0;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: 100%;
}
.PlaylistPanel .button {
  background: #fff1;
  border-radius: 4px;
  box-sizing: border-box;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  padding: 12px;
  position: relative;
}
.PlaylistPanel .button > img {
  width: 16px;
}
.PlaylistPanel > section.content > aside > .button.btnFill {
  align-self: stretch;
  margin: 0px 8px 8px;
  padding: 12px;
}
.PlaylistPanel .button.primary {
  background: var(--accent-color);
}
.PlaylistPanel .button::after {
  background: #fff0;
  border-radius: inherit;
  box-sizing: border-box;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background ease .15s;
}
.PlaylistPanel .button:hover::after {
  background: #fff1;
}
.PlaylistPanel .button:active::after {
  background: #fff3;
}

.PlaylistPanel > section.content > section.list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  --footerHeight: 39px;
}
.PlaylistPanel > section.content > section.list .MusicListView {
  margin-bottom: 0;
  transition: margin ease .4s;
}
.PlaylistPanel.listOpened.modeAdd > section.content > section.list .MusicListView,
.PlaylistPanel.listOpened.modeEdit > section.content > section.list .MusicListView {
  margin-bottom: var(--footerHeight);
}
.PlaylistPanel > section.content > section.list > footer.listEditControl {
  background: #111;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  padding: 6px 4px 6px 16px;
  position: absolute;
  bottom: calc(-1 * var(--footerHeight));
  width: 100%;
  transition: bottom ease .4s;
}
.PlaylistPanel.listOpened.modeAdd > section.content > section.list > footer.listEditControl,
.PlaylistPanel.listOpened.modeEdit > section.content > section.list > footer.listEditControl {
  bottom: 0px;
}
.PlaylistPanel > section.content > section.list > footer.listEditControl .left {
  color: #fffa;
  padding: 4.5px 0;
}
.PlaylistPanel > section.content > section.list > footer.listEditControl .left > span {
  color: #fafafa;
  font-weight: 500;
}
.PlaylistPanel > section.content > section.list > footer.listEditControl .right .button {
  background: transparent;
  padding: 4px 8px;
}
.PlaylistPanel.modeAdd > section.content > section.list > footer.listEditControl .right .btnRemoveMusicItem {
  display: none;
}